html, body, div, canvas, h1 {
    margin: 0; padding: 0;
}
html {
    font-size: 100%;
    font-family: sans-serif;
    height: 100%;
    background-color: #333;
    color: #bbb;
}
body {
    height: 100%;
    width: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: 80vw; height: 80vh;
    background-color: #222;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .3);
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}
